/* this styling formats the links in the footer required for legal compliance 
* it's derived from the demo supplied here: https://github.com/Unity-Technologies/onetrust-integration-demo/blob/main/styles.css
*/

/* pmdt specific footer customisations */
ul.unity-footer-menu-legal, ul.unity-footer-menu-legal li {
  padding: 0;
  margin: 0;
}
ul.unity-footer-menu-legal li {
  list-style-type: none;
  padding-right: 20px;
  display: inline;
}

/* the injected one-trust widget will overlap all the footer content obscuring some legal links */
.footer .container .onetrust-inset {
  padding-left: 50px;
}

/* cookie settings button */
.footer #ot-sdk-btn-container {
  display: inline-block;
  line-height: 20px;
}
.footer #ot-sdk-btn.ot-sdk-show-settings {
  color: #337ab7;
  border: none;
  border-bottom: 1px solid #FFF;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: inherit;
}
.footer #ot-sdk-btn.ot-sdk-show-settings:hover {
  background-color: inherit;
  color: #23527c;
  border-bottom: 1px solid #FFF;
}
.footer #ot-sdk-btn.ot-sdk-show-settings:before {
  content: "";
  display: inline-block;
  /* path is relative to the build directory, pmdt will copy the image in the expected location */
  background: transparent url(privacyoptions.svg) no-repeat center center;
  width: 30px;
  text-decoration: none;
  height: 14px;
  margin-right: 5px;
  margin-top: 2px;
}

footer .copyright-line {
  font-size: 0.8em; line-height: 22px;
}