<?xml version="1.0" encoding="utf-8"?>
<Game
  configVersion="1">
  <Identity
    Name="NuclearCandyGames.FullColourTiles"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="1.0.0.0" />
  <ShellVisuals
    DefaultDisplayName="Full Colour Tiles"
    PublisherDisplayName="Technology and Creativity"
    StoreLogo="StoreLogo.png"
    Square150x150Logo="Square150x150Logo.png"
    Square44x44Logo="Square44x44Logo.png"
    Square480x480Logo="default480x480.png"
    Description="Default Description"
    ForegroundText="light"
    BackgroundColor="#000000"
    SplashScreenImage="SplashScreenImage.png" />
  <ExecutableList />
  <StoreId>9N67W7GMSZPH</StoreId>
  <MSAAppId>d7c04619-25c6-4cda-9f59-37e184d64cb7</MSAAppId>
  <TitleId>6a873dd3</TitleId>
  <AdvancedUserModel>true</AdvancedUserModel>
</Game>